{% extends "geolocation/wrapper.html" %}
{% load staticfiles %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/main.css'%}" type="text/css">
    <h1>Страница парка ДГТУ</h1>
    <p>Студенческий парк ДГТУ - cтуденческий парк Донского государственного технического университета им. Л.В. Красниченко располагается около границы Ворошиловского и Кировского районов Ростова-на-Дону.
    Адрес: г. Ростов-На-Дону, пл. Гагарина, 1
    </p>
    <p>На территории парка расположены учебные корпуса университета, студенческие общежития, спортивные площадки и манеж. Центральные аллеи заасфальтированы и в ночное время освещены. Прогуливаясь по парку можно увидеть много голубей, воробьев и других "городских" птиц около специально оборудованных кормушек. На деревьях также можно увидеть пушистых белок.</p>
    <p>В центре парка установлен (8.05.1982) памятник преподавателям, сотрудникам и студентам Ростовского машиностроительного института, защитившим Родину в годы Великой отечественной войны. Почти напротив памятника построен Храм святой мученицы Татьяны.</p>
    <p>Парк не имеет четких границ и неогорожен, но зато достаточно ухожен: вдоль центральных аллей установлены урны и скамеечки, деревья и кустарники подстрижены. Около учебных корпусов можно увидеть красивые клумбы с элементами ландшафтного дизайна. Средний возраст деревьев составляет около 35 лет, поэтому в летнюю городскую жару можно укрыться в тени парка. А для малышей есть детская площадка с турниками и шведской стенкой.</p>
    <p>На территории парка расположено большое футбольное поле с земляным покрытием и маленькая хорошо оборудованная спортплощадка университета. В теплое время года в парке со студентами проводятся занятия по физкультуре и геодезии.</p>
    <div class="image-link">
        <img src="{% static 'media/main.jpg' %}" class="img-thumbnail rounded-circle">
        <a href="/map">
            <button class="btn" >Карта парка ДГТУ</button>
        </a>
    </div>
{% endblock %}